@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Delicious+Handrawn&display=swap");

/* @media (min-width: 1280px) { */
.hover-target {
  display: none;
}
.hover-trigger:hover .hover-target {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* } */

.text-stroke {
  -webkit-text-stroke: 3px #f47a30;
}

@media (max-width: 768px) {
  .font-custom {
    font-family: "Delicious Handrawn", cursive;
  }
}
/* @media (min-width: 0px) {
  .font-custom {
    font-family: "Montserrat Alternates", sans-serif;
  }
} */
